html {
    font-size: 62.5%;
}

body {
    margin: 0px;
    font-family: $serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $brand-1;
    text-decoration: none;

    &:hover {
        color: $black;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

main {
    padding-top: 20px;
}

.wrapper {
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    @include transition-duration(250ms);

    @include mq($from: desktop) {
        width: 980px;
    }
    @include mq($from: wide) {
        width: 1300px;
    }

}

::selection {
    background-color: yellow;
    color: $dark-grey;
}
