// Do we need this?

// .project-cover {
//   margin-top: 100px;
//   background-color: green;
// }

// Project-cover

img {
  display: block;
  width: 100%;
}

.project-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 20px 20px;
}

.project-description {
  grid-column: span 2;
  margin-top: 100px;
}

.project-image {
  grid-column: span 2;
  justify-content: space-around;
  background: green;
  display: grid;
  padding: 40px;

  img {
    max-width: 1200px;
    }
}

// Project specific sizing

.kerb-3 {
  grid-column: span 1;

  img {
    max-width: 300px;
  }
}

.kerb-4 {
  grid-column: span 1;

  img {
    max-width: 708px;
  }
}









// .project-cover {
//   margin-top: 100px;
//   background-color: green;
// }
// img {
//   display: block;
//   width: 100%;
// }
//
//
// .project-grid {
//   display: grid;
//   grid-template-columns: 50% 50%;
//   grid-template-rows: auto;
//   grid-gap: 20px 20px;
// }
//
// .project-image-container__full-width {
//   grid-column: span 2;
//   background-color: green;
//   display: grid;
//   justify-content: space-around;
// }
//
// .project-image-container__half-width {
//   grid-column: span 1;
//   background-color: red;
//   display: grid;
//   justify-content: space-around;
// }
//
// .project-image__full-width {
//   img {
//     max-width: 1200px;
//     }
// }
//
// .project-image__half-width {
//
//   padding: 20px;
//   img {
//     max-width: 300px;
//
//   }
// }
