
img {
  width: 100%;
}

.project-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: flex-start;
  justify-content: space-between;
}

.project-list span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;

  &:hover {
      visibility: visible;
      opacity: 1;
  }
}

.project-list-col-1 {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include mq($from: tablet) {
    width: 49%;
  }

  @include mq($from: wide) {
    width: 630px;
  }
}

.project-list-col-2 {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include mq($from: tablet) {
    width: 49%;
  }

  @include mq($from: wide) {
    width: 630px;
  }
}

/* We tell all items to be 100% width */
.project {
  margin-top: 20px;
  padding: 50px;
  flex: 1 100%;
  justify-content: space-around;
}

#p0 {
  background: tomato;
  justify-content: space-around;
}

#p1 {
  background: LAVENDERBLUSH;
}

#p2 {
  background: DEEPPINK;
}

#p3 {
  background: DARKTURQUOISE;
}

#p4 {
  background: ORANGE;
}

#p5 {
  background: GOLD;
}

#p6 {
  background: BISQUE;
}
/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  #p0, #p1 { flex: 1 auto; }
  #p5, #p6 { flex: 4 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  #p4 { flex: 2 0px; }

  #p0 { order: 1; }
  #p1 { order: 2; }
  #p2 { order: 3; }
  #p3 { order: 4; }
  #p4 { order: 5; }
  #p5 { order: 6; }
  #p6 { order: 7; }
}
